@import "styles/vars.scss";

.radio {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 5px;
  //   border: 2px solid #e5e5e5;

  &__item {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    cursor: pointer;
    &:first-child {
      border-right: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-left: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &:hover {
      border-color: $primary;
    }
    &_active {
      background-color: #1a5096;
      border-color: #1a5096;
      color: #fff;
    }
  }
}
